.login {
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: white;
    background-color:  rgb(182, 37, 37);
}

.loginlogo img {
    align-items: center;
    width: 28px;
    height: 28px;
    margin-bottom: -2px;
}

.h1logo{
    margin: 50px
}

.loginright { 
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #d3d3d3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.loginright h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 25px;
}


.loginloginInputEmail {
    display: flex;
    align-items: center;
    color: gray;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
}

.loginloginInputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.loginloginInputEmail input {
    color: black;
    background: transparent;
    width: 100%;
    outline-width: 0;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.loginloginInputPassword {
    display: flex;
    align-items: center;
    color: gray;
    background-color: white;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.loginloginInputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.loginloginInputPassword input {
    color: black;
    background: transparent;
    width: 100%;
    outline-width: 0;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.loginright button {
    background-color: rgb(182, 37, 37);
    color: white;
    width: 98%;
    font-weight: 500;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 25px;
    border: none;
    outline-width: 0;
    cursor: pointer;
} 

.register{
    margin-top: 10px;
}

.logineye {
    align-items: center;
    justify-content: center;
    font-size: 30;
    cursor: pointer;
    margin-right: 10px;
}
@media(max-width:1330px) {
    .loginright { 
        margin-left: 400px;
        margin-right: 400px;
    }
}
@media(max-width:1080px) {
    .loginright h1 {
        font-size: 2rem;
    }
    .loginright { 
        margin-left: 200px;
        margin-right: 200px;
    }
    
}
@media(max-width:720px) {
    .loginright h1 {
        font-size: 2rem;
    }
    .loginright { 
        margin-left: 50px;
        margin-right: 50px;
    }
}