.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: right;
}

.modalContent {
  width: 25%;
  max-width: 576px;
  background-color: white;
  padding: 2rem;
  border-radius: 0.3rem;
  }

  .closeModal{
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: 0;
    background: transparent;

    transition: filter 0.2;
  }
  .closeModal:hover{
    font-size: 18px;
  }

  .divRemoveItem{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    
  }

  .removeItem{
    cursor: pointer;
  }

  .removeItem:hover{
    font-size: 17px;
  }

  .btn{
    background-color: red;
    color: rgba(255, 255, 255, 0.938);
    font-size: 0.9rem;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
  }
  
