.modalOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;

  display: flex;
  align-items: flex-start;
  justify-content: right;
}

.modalContent {
  width: 25%;
  max-width: 576px;
  background-color: white;
  padding: 3rem;
  border-radius: 0.3rem;
  }

  .closeModal{
    cursor: pointer;
    margin: 5px;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: 0;
    background: transparent;

    transition: filter 0.2;
  }
